$pointSize: 4px;
$bgColor: darkslateblue;


%spread {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

%spreadAfter {
    content: "";
    background-size: $pointSize $pointSize;
    background-position: center center;
    background-repeat: repeat;
    background-image: radial-gradient(rgba(#a8d5e2, 0),
            rgba(#a8d5e2, 1) 80%,
            rgba(#a8d5e2, 1));
}

$dark: #061320;
$white: #FFF;
$purple: #6460ff;

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

/** VP stands for ViewPort. which roughly means the device screen size */
$vp-xxs: 375px;
$vp-xs: 420px;
$vp-sm: 576px;
$vp-md: 768px;
$vp-lg: 992px;
$vp-xl: 1200px;
$vp-xxl: 1400px;

@mixin media-breakpoint-up($viewport) {
    @media screen and (min-width: $viewport) {
        @content;
    }
}

@mixin media-breakpoint-down($viewport) {
    @media screen and (max-width: $viewport) {
        @content;
    }
}