/* SASS Funtions */

/**
    px to rem conversion function (rem is better for accessibility as it scales better when zooming)
    Usage example: set font-size to 16px, but render it out as REM
    .someclass {
        font-size: rem(16);
    }
**/
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}