
@import "./utilities/functions";
@import "./utilities/extensions";

.about {
	position: relative;
	z-index: 2;
	margin-top: rem(100);

    &__title {
        color: white;
        font-size: rem(150);
        font-weight: 800;
        opacity: 0.4;
        text-transform: uppercase;
        margin-bottom: rem(-30);
        z-index: 2;
        position: relative;

		@include media-breakpoint-down($vp-md) {
			font-size: rem(100);
		}
	
		@include media-breakpoint-down($vp-sm) {
			font-size: rem(75);
		}
    }
    &__bgWrapper {
		margin-top: rem(-50);
        max-height: rem(450);
		height: 100%;
        height: rem(450);
        position: relative;
        z-index: 1;
    }
    &__imageBg {
		background-color: #16697a;
		height: rem(505);
		position: relative;
		z-index: 1;
		z-index: 0;
		position: relative;
		clip-path: polygon(
			2.6% 13.43%,
			99.05% 4.82%,
			89.52% 87.65%,
			16.53% 73.36%
		);
    }
    &__imageBack {
		@extend %spread;

		height: rem(500);
		// background-color: #a8d5e2;
		background-color: white;
		position: absolute;
		width: 100%;
		height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// clip-path: polygon(
		// 	1.75% 0.76%,
		// 	98.47% 1.62%,
		// 	89.27% 97.62%,
		// 	16.23% 97.61%
        // );
        clip-path: polygon(16.04% 4.16%, 98.18% 22.53%, 93.63% 91.12%, 16.23% 97.61%);

		&:after {
			@extend %spread;
			@extend %spreadAfter;
		}
    }
    &__image {
		height: rem(500);
		background: {
			size: contain;
			position: 50% 50%;
			repeat: no-repeat;
		}
		position: absolute;
		width: 100%;
		height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// clip-path: polygon(
		// 	1.75% 0.76%,
		// 	98.47% 1.62%,
		// 	89.27% 97.62%,
		// 	16.23% 97.61%
        // );
        clip-path: polygon(22.89% 16.18%, 103.61% 34.04%, 89.27% 97.62%, 16.23% 97.61%);
		z-index: 3;

		img {
			object-fit: cover;
		}

		@include media-breakpoint-down($vp-sm) {
			img {
				width: 100%;
			}
		}
	}

	&__back {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;

		.Tilt {
			width: 100%;
			height: 100%;
		}
    }
	
	&__image > .lazy-load-image-background,
    &__imageInner {
        position: relative;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__content {
        color: white;
        font-size: rem(16);
    }
}