@import "./utilities/functions";
@import "./utilities/extensions";

.contact {
    position: relative;
    padding-top: rem(100);
	padding-bottom: rem(150);
	z-index: 10;

	&__bubble {
		overflow: hidden;
		&:before {
			content: '';
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 50%;
			border-radius: 50%;
			width: 120vw;
			height: 100vw;
			transform: translate(-50%, 0);
			@extend %spread;
			@extend %spreadAfter;
			background-image: radial-gradient(rgba(#293A45, 0),
            rgba(#293A45, 0.3) 80%,
            rgba(#293A45, 0.6));

		}
	}

    &_content {
        color: white;
    }

    &_bgWrapper {
		margin-top: rem(-50);
        max-height: rem(450);
		height: 100%;
        height: rem(450);
        position: relative;
        z-index: 1;
    }
    &_imageBg {
		background-color: #16697a;
		height: rem(505);
		position: relative;
		z-index: 1;
		z-index: 0;
		position: relative;
		clip-path: polygon(
			2.6% 13.43%,
			99.05% 4.82%,
			89.52% 87.65%,
			16.53% 73.36%
		);
    }
    &_imageBack {
		@extend %spread;

		height: rem(500);
		// background-color: #a8d5e2;
		background-color: white;
		position: absolute;
		width: 100%;
		height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// clip-path: polygon(
		// 	1.75% 0.76%,
		// 	98.47% 1.62%,
		// 	89.27% 97.62%,
		// 	16.23% 97.61%
        // );
        clip-path: polygon(16.04% 4.16%, 98.18% 22.53%, 93.63% 91.12%, 16.23% 97.61%);

		&:after {
			@extend %spread;
			@extend %spreadAfter;
		}
    }
    &_image {
		height: rem(500);
		background: {
			size: contain;
			position: 50% 50%;
			repeat: no-repeat;
		}
		position: absolute;
		width: 100%;
		height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// clip-path: polygon(
		// 	1.75% 0.76%,
		// 	98.47% 1.62%,
		// 	89.27% 97.62%,
		// 	16.23% 97.61%
        // );
        clip-path: polygon(22.89% 16.18%, 103.61% 34.04%, 89.27% 97.62%, 16.23% 97.61%);
        z-index: 3;
        
        img {
            width: 100%;
			height: 100%;
			object-fit: cover;
        }
	}

	&_back {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;

		.Tilt {
			width: 100%;
			height: 100%;
		}
    }
    
    &_imageInner {
        position: relative;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_form {
        margin-top: rem(25);
    }

    &_label {
        width: 100%;
    }

    &_formInput {
        width: 100%;
        background: transparent;
        color: white;
        border: 2px solid #293A45;
        border-radius: 3px;
        padding: rem(10) rem(15);
    }

    &_formTextarea {
        width: 100%;
        min-height: rem(200);
        background: transparent;
        color: white;
        border: 2px solid #293A45;
        border-radius: 3px;
        padding: rem(10) rem(15);
        display: flex;
        align-items: flex-start;
	}
	
	&_button {
		appearance: none;
        color: white;
        padding: rem(12) rem(30) rem(12) rem(30);
        background: #293A45;
		font-weight: 500;
		border: none;

		&:disabled {
			pointer-events: none;
			background: darken(#293A45, 10%);
			color: darken(white, 50%);
		}
    }

	&_toast {
		position: fixed;
		background: #3DDB9E;
		color: white;
		transform: translateX(100%);
		display: flex;
		top: 50px;
		right: 0;
		width: auto;
		height: auto;
		padding: 20px 50px;
		opacity: 0;
		transition: {
			property: transform, opacity;
			duration: 250ms;
			timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.0);
		}

		&__show {
			opacity: 1;
			transform: translateX(calc(0% - 50px));
		}
	
	}

}