
@import "./utilities/functions";
@import "./utilities/extensions";

.footer {
    width: 100%;
    height: rem(100);
    border-top: 0.1rem solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 0.5rem;
    }

    // a {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-size: 1.6rem;
    // }

    &__logo {
        height: rem(16);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down($vp-md) {
            flex-direction: column;
        }
    }

    &__copyright {
        font-size: rem(14);
    }

    &__poweredWrapper {
        display: flex;
        align-items: center;
    }

    &__powered {
        font-size: rem(14);
    }
}