@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "./utilities/functions";
@import "./utilities/typography";
@import "./utilities/extensions";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

// html {
//   font-size: 10px;
// }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sectionTitle {
  color: white;
  font-size: rem(150);
  font-weight: 800;
  opacity: 0.4;
  text-transform: uppercase;
  margin-bottom: rem(-30);
  z-index: 2;
  position: relative;

  &--right {
    text-align: right;
  }

  @include media-breakpoint-down($vp-md) {
    font-size: rem(100);
  }

  @include media-breakpoint-down($vp-sm) {
    font-size: rem(75);
  }

  @include media-breakpoint-down($vp-xs) {
    font-size: rem(60);
  }
}