
@import "./utilities/functions";
@import "./utilities/extensions";

.intro {
    position: relative;
    padding-top: rem(200);

	@include media-breakpoint-down($vp-md) {
		padding-top: rem(100);
	}

    &__title {
        font-size: rem(120);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
        text-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0, 0.25);

		@include media-breakpoint-down($vp-md) {
			font-size: rem(90);
		}

		@include media-breakpoint-down($vp-sm) {
			font-size: rem(60);
		}
    }

    &__sub {
        color: #ffffff;
        font-size: rem(24);
        line-height: 1;
    }

    &__bgWrapper {
		margin-top: rem(-50);
        max-height: rem(750);
		height: 100%;
		height: rem(750);
		margin-top: rem(-100);

		@include media-breakpoint-down($vp-md) {
			margin-top: 0;
			height: rem(500);
		}

		@include media-breakpoint-down($vp-sm) {
			height: rem(400);
		}
    }
    &__imageBg {
		background-color: #16697a;
		height: rem(505);
		position: relative;
		// z-index: 1;
		z-index: 1;
		position: relative;
		clip-path: polygon(
			2.6% 13.43%,
			99.05% 4.82%,
			89.52% 87.65%,
			16.53% 73.36%
		);
    }
    &__imageBack {
		@extend %spread;

		height: rem(500);
		// background-color: #a8d5e2;
		background-color: white;
		position: absolute;
		width: 100%;
		height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		clip-path: polygon(
			1.75% 0.76%,
			98.47% 1.62%,
			89.27% 97.62%,
			16.23% 97.61%
		);

		&:after {
			@extend %spread;
			@extend %spreadAfter;
		}
    }
    &__image {
		height: rem(500);
		background: {
			size: contain;
			position: 50% 50%;
			repeat: no-repeat;
		}
		position: absolute;
		width: 100%;
		height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		clip-path: polygon(
			1.75% 0.76%,
			98.47% 1.62%,
			89.27% 97.62%,
			16.23% 97.61%
		);
		z-index: 4;

		@include media-breakpoint-down($vp-sm) {
			img {
				width: 100%;
			}
		}
	}

	&__back {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: 2;

		.Tilt {
			width: 100%;
			height: 100%;
		}
	}
}
