@import "./utilities/functions";
@import "./utilities/extensions";


.main {
    padding: 0;
    background: linear-gradient(170deg, rgba(10, 14, 17, 1) 1%, rgba(26, 32, 38, 1) 45%, rgba(26, 32, 38, 1) 55%, rgba(9, 13, 16, 1) 100%);
    min-height: 100vh;
    width: 100%;
    position: relative;
    
    // &:after {
    //     @extend %spreadAfter;
    //     height: 100%;
    //     position: absolute;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     $pointSize: 6px;
    //     background-size: $pointSize $pointSize;
    //     z-index: 0;
    //     pointer-events: none;
    //     background-image: radial-gradient(rgba(255,255,255, 0.05),
    //     rgba(255,255,255, 0) 80%,
    //     rgba(255,255,255, 0));
    // }

    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        &:after {
            @extend %spreadAfter;
            height: 100%;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            $pointSize: 6px;
            background-size: $pointSize $pointSize;
            z-index: 0;
            pointer-events: none;
            background-image: radial-gradient(rgba(255,255,255, 0.05),
            rgba(255,255,255, 0) 80%,
            rgba(255,255,255, 0));
        }    
    }
}

.title {
    color: white;
    font-size: rem(150);
    font-weight: 800;
    opacity: 0.4;
    text-transform: uppercase;
    margin-bottom: rem(-30);
    z-index: 2;
    position: relative;
}