@import "./utilities/functions";
@import "./utilities/extensions";

.project {
    position: relative;
    z-index: 10;
    // padding: rem(150) 0 rem(100);
    padding: 0;
    background: linear-gradient(170deg, rgba(10, 14, 17, 1) 1%, rgba(26, 32, 38, 1) 45%, rgba(26, 32, 38, 1) 55%, rgba(9, 13, 16, 1) 100%);
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    
    &:after {
        @extend %spreadAfter;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        $pointSize: 6px;
        background-size: $pointSize $pointSize;
        z-index: 0;
        pointer-events: none;
        background-image: radial-gradient(rgba(255,255,255, 0.05),
        rgba(255,255,255, 0) 80%,
        rgba(255,255,255, 0));
    }


    &_header {
        min-height: rem(500);
        background: {
            size: cover;
            repeat: no-repeat;
            position: center;
        }
        position: relative;
        z-index: 1;
        max-width: rem(1920);
        margin-left: auto;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0, 0.3);
            background: radial-gradient(at bottom right, rgba(0,0,0,0.75) 5%, rgba(0,0,0,0) 60%);
            pointer-events: none;

            @include media-breakpoint-down($vp-xl) {
                background: radial-gradient(at bottom right, rgba(0,0,0,0.55) 25%, rgba(0,0,0,0) 95%);
            }

            @include media-breakpoint-down($vp-md) {
                background: radial-gradient(at bottom right, rgba(0,0,0,0.55) 25%, rgba(0,0,0,0) 95%);
            }
        }
    }

    &_pageTitleWrapper {
        display: flex;
        justify-content: flex-end;
        padding-top: rem(450);
        margin-bottom: rem(10);

        @include media-breakpoint-down($vp-lg) {
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: rem(20);
            margin-right: rem(1);
        }
    }
    &_crumb,
    &_divider {
        font-size: rem(42);
        font-weight: 600;
        z-index: 9;
        color: darken(white, 10%);
        text-transform: uppercase;
        line-height: .8;
        margin: 0;
        top: rem(15);
        text-align: right;
        // letter-spacing: rem(-10);
        font-weight: 800;
        display: flex;
        opacity: .6;
    }
    &_crumb {
        transition: {
            property: color, opacity;
            duration: 100ms;
            timing-function: ease-in-out;
        }
        text-decoration: none;
        line-height: 1;
        top: rem(20);
        position: relative;
        &:hover {
            color: darken(white, 25%);
            opacity: .8;
            text-decoration: none;
        }

        @include media-breakpoint-down($vp-lg) {
            &:nth-of-type(2) {
                line-height: 1.2;
                margin-bottom: rem(15);
            }
        }
    }
    &_divider {
        line-height: 1;
        // top: rem(45);
        margin: 0 rem(10);
        position: relative;
        font-size: rem(40);

        @include media-breakpoint-down($vp-lg) {
            display: none;
        }
    }

    &_title {
        font-size: rem(58);
        font-weight: 600;
        position: relative;
        z-index: 9;
        color: white;
        text-transform: uppercase;
        line-height: .8;
        margin: 0;
        top: rem(10);
        text-align: right;
        // letter-spacing: rem(-10);
        font-weight: 800;

        @include media-breakpoint-down($vp-md) {
            font-size: rem(48);
        }
    }

    &_body {
        padding: rem(100) 0 rem(150);
    }

    &_image {
        // height: rem(5000);
    }
    &_description {
        color: white;
        height: 100%;
        &.sticky {
            &_descriptionInner {
                padding-top: 0;
            }
        }
    }
    
    &_descriptionInner {
        padding-top: rem(50);

        @include media-breakpoint-down($vp-md) {
            padding-top: 0;
            padding-bottom: rem(50);
        }
    }

    &_stickyWrapper {
        height: 100%;
    }

    &_pageImage {
        padding-bottom: rem(100);
        &:last-of-type {
            padding-bottom: 0;
        }
        img {
            width: 100%;
        }
    }

    &_related {
        position: relative;
        padding: rem(100) 0 rem(150);
    }

    &_relatedRow {
        display: flex;
        justify-content: center;
    }
}