@import "./utilities/functions";
@import "./utilities/extensions";

.related {
    position: relative;

    &_image {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    &_link {
        height: rem(500);
        display: flex;
    }
}