@import "./utilities/functions";
@import "./utilities/extensions";

.work {
    position: relative;
    z-index: 1;
    padding-top: rem(100);
    overflow-x: hidden;

    @include media-breakpoint-down($vp-md) {
        padding-top: rem(150);
        padding-bottom: rem(100);
    }

    h2 {
        margin-bottom: rem(-50);
    }

    &_projectsWrapper {
        height: rem(500);
        background-color: #293A45;
    }

    &_projectsInnerWrapper {
        position: relative;

        .carousel {
            max-height: rem(500);
            &_slider {
                max-height: rem(500);
            }
        }
    }

    &_card {
        padding: rem(30);
        position: relative;
        height: rem(450);
    }

    &_projectTitle {
        color: white;
        font-size: rem(24);
    }

    &_section {
        // background-color: #293A45;
        position: relative;
        // max-height: rem(450);

        &__first {
            padding-top: rem(100);
            margin-bottom: rem(150);
        }

        &__second {
            padding-bottom: rem(100);
        }
    }

    &_background {
        background-color: #293A45;
        position: relative;
        max-height: rem(450);
        height: 100%;
        width: 100%;
        position: absolute;
        max-height: 450px;
        top: 0;
        background: #293A45;

        @include media-breakpoint-down($vp-md) {
            max-height: unset;
            height: calc(100% - 250px);
        }

        &__first {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 80%;
                left: -3000px;
                background: #293A45;
                z-index: 0;
            }
        }

        &__second {
            bottom: 0;
            top: auto;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left:80%;
                right:-3000px;
                background: #293A45;
                z-index: 0;
            }
        }
    }

    &_imageWrapper {
        position: relative;
        height: rem(500);

        span {
            height: 100%;
        }
    }

    &_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_contentWrapper {
        color: white;
        font-weight: 400;
        font-size: rem(16);

        &__bottom {
            display: flex;
            align-items: flex-end;
            height: 100%;
        }

        &__lessHeight {
            height: 80%;
        }
    }

    &__contentLinkWrapper {
        margin: rem(50) 0 rem(45);
    }

    &__contentLink {
        color: white;
        padding: rem(12) rem(30);
        background: #293A45;
        font-weight: 500;
        border: 1px solid white;
        display: inline-flex;
        transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
        text-decoration: none;
        &:hover {
            background-color: white;
            color: #293A45;
            text-decoration: none;
        }
    }

    &_buttonWrapper {
        margin-top: rem(50);
        display: flex;
        justify-content: center;
    }

    &_button {
        color: white;
        padding: rem(12) rem(30) rem(12) rem(50);
        background: #293A45;
        font-weight: 500;
    }

    &_buttonIcon {
        width: rem(15);
        height: auto;
        margin-left: rem(10);
    }

}